
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav img{
        width : 280px;
}
nav  {
    display: flex;
    background-color: white;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px  ;
    
}
 ul li{
    color:gray;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    
}
section div{    
    display: flex;
    gap: 50px;
    font-family: ;

}
section h1{
    color: green;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.text{
    padding :20px;
    color : white;

}
.cards{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}
.card{
    background-color: #00ccb1;
    height: 300px;
    border-radius: 18px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    
}
.card2{
    background-color: #3d83df;

    
}
.textt{
    color: white;
}
.card3{
    background-color: #747474;
 
    
}
select{
padding: 20px;
    font-style: none;
    border: none;
    background-color:transparent ;
    color: white;
    
  
}
 option{
    color: black;
}
.impr{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
.impr h1{
    color: #00b39b;
    font-weight: 300px;
    font-family: 'Work Sans', sans-serif;
    

}
.countries{
    width: 65%;
 
    margin: 0 auto;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.country{
    width: 30%;
}
.text{
    color: black ;
    display: flex;
    justify-content: space-between;
}
.country img{
    width: 100%;
}
.text button{
    background-color: rgb(30, 30, 250);
    border: none;
    border-radius: 18px;
}
.text button:hover{
    background-color: rgb(44, 44, 138);
}
.amp {
   text-align: center;
    width: 40%;
    margin: 0 auto;

}
.amp h1{
    text
    font-weight: 200px;
    color: #747474;
}
.amp button{
    outline: center;
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    background-color: rgb(106, 106, 226);
}
.amp button:hover{
    background-color: blue;
}
footer p{
    text-align: center;
    font-weight: 250px
}
